body{

    background-color:white ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
}

.container{
  width: 90%;
}
h1{
  text-align: center;
  
}
.containerTop{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;

    margin: auto;
    overflow:hidden;
    background-color: #80A72A;
    background-image: linear-gradient(to bottom right, #80A72A,#A4BB2F);
    list-style-type: none;

    position:relative;
    text-align: center;
  }
  

  li a {
 
    color: black;
    text-align:center;
    padding: 15px 50px ;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #A4BB2F;
  }



.liHeader{
    float: left;
    font-size: 140%;
 
}
.uFim{
  display: flex;
  flex-direction: column;

  justify-content: space-around;

  margin: auto;
  overflow:hidden;
  background-color: #80A72A;
  background-image: linear-gradient(to bottom right, #80A72A,#A4BB2F);
  list-style-type: none;

  position:relative;
  text-align: center;
}
.h2uFim{
    padding: 10px;
}
.liFim{
    padding: 10px;
    float:bottom;
}
.h3Horta{
  text-align: center;
  font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;
}
/*/////////////////////////////
////////////Buttons///////////
///////////////////////////*/
.buttonsDiv{
  display: flex;
  flex-direction:column;
  flex-flow: column wrap;
  justify-content: space-between;
}
Button{
  margin:  auto;
color: blue;
background-color: white;

 text-align: center; 
 font-size: 50px;
  width:95%;

}
