body{

    background-color:white ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
}
.ulComeco{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow:hidden;
    background-color: #80A72A;
    background-image: linear-gradient(to bottom right, #80A72A,#A4BB2F);
    width: 97%;
    margin:  0%;

    position:relative;
    text-align: center;
  }
  

  li a {
 
    color: black;
    text-align:center;
    padding: 15px 50px ;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #A4BB2F;
  }



.liHeader{
    float: left;
    font-size: 140%;
 
}
.uFim{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #80A72A;
    background-image: linear-gradient(to bottom right, #80A72A,#A4BB2F);
    top: 0px;
    bottom: 0px;
    position:relative;
    text-align: center;
    width: 97%;
    margin:  0%;
}
.h2uFim{
    padding: 10px;
}
.liFim{
    padding: 10px;
    float:bottom;
}
